<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Валюты</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}" rel="stylesheet" type="text/css">
</head>
<body class="bg-light">

<header th:insert="fragments/Header.html :: header"></header>
<br>
<main class="container">

    <h1>Валюты</h1>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <table class="table-bordered">
            <thead>
            <tr>
                <th> Идентификатор валюты</th>
                <th> Наименование валюты</th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${currencys.empty}">
                <td colspan="2"> Список валют пустой</td>
            </tr>
            <tr th:each="currency : ${currencys}">
                <td><a th:href="@{/currencys/edit(id=${currency.id})}"><span th:text="${currency.id}"> ИД валюты </span></a>
                </td>
                <td><a th:href="@{/currencys/edit(id=${currency.id})}"><span
                        th:text="${currency.name}"> Наименование валюты </span></a></td>
            </tr>
            <br>
            </tbody>
        </table>
    </div>

    <a href="/currencys/edit" class="btn btn-primary">Добавить валюту</a>
</main>

</body>
</html>